* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}


.top {
    width: 100%;
    height: 10vh;
    background-color: blue;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}


.outercontainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    flex-direction: row;
    flex-wrap: nowrap;

}




.sidebar {
    width: 20%;
    height: calc(100vh - 10vh);
    background-color: blue;
    border-right: 5px solid black;
    position: fixed;
    left: 0;
    top: 11vh;
    overflow-y: hidden;
}

.main {
    width: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: none;
    position: fixed;
    top: 10vh;
    height: 10vh;
    width: 80%;
    background-color: black;
    z-index: 1000;

}

.tabs button {
    padding: 10px 20%;
    border: none;
    margin-top: 5px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 16px;
    z-index: 1000;
    color: white;
}

.tabs .active {
    background-color: white;
    color: black;
}

.container {

    flex: 1;
    background-color: white;
    margin-left: 20%;
    height: calc(100vh - 20vh);
    width: 80%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0%;
    top: 20vh;
    overflow-y: hidden;


}

.form-section {
    width: 100%;
    margin-top: 20px;

    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    padding: 10px;
    color: black;
    z-index: 1000;

}

.hidden {
    display: none;
}

.profile-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 30%;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.add-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
}


.input-container {

    position: relative;

}

.input-container input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;

}


.input-container label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 14px;
    color: black;
    background: white;
    padding: 0 5px;
    font-weight: bold;
}

.phone-input {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: white;
}

.country-code {
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.phone-input input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.genderSelect,
.BGSelect,
.EmpType,
.LicenseType {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.D-buttons1 {

    display: flex;
    justify-content: space-around;
    margin-top: 25px;

}

.cancel1 {
    background-color: rgb(201, 197, 197);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.next {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.D-buttons2 {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.cancel2 {
    background-color: rgb(201, 197, 197);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.save {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}



@media (max-width: 768px) {
    .sidebar {
        width: 30%;
    }

    .tabs {
        width: 60%;

    }

    .container {
        margin-left: 30%;
    }
}